<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/style_marchand.css">
    <title>Admin Simulator</title>
</head>
<body>
    <div class="header-left">
        <h1>{{.PlayerInfo.Username}}</h1>
        <h2 id="budget">Budget : {{.PlayerInfo.Budget}}€</h2>
    </div>
    <div class="header-right">
        <h1 id="reputation">Réputation : {{.PlayerInfo.Reputation}}%</h1>
        <h2 id="etatEcole">État école : {{.PlayerInfo.State}}%</h2>
    </div>
    <div class="inventory player">
        <h1>Inventaire du joueur</h1>
        <div class="item-list">
            {{range $v := .PlayerInfo.Inventory}}
            <div class="inventory-item">
                <div class="left">
                    <img src="{{$v.Image}}" alt="{{$v.Name}}">
                    <div class="item-info">
                        <h3>{{$v.Name}}</h3>
                        <h4>{{$v.SellPrice}}€</h4>
                        <p>{{$v.Description}}</p>
                    </div>
                    <button onclick="sellItem(this, {{$v.Id}})">Vendre</button>
                </div>
            </div>
            {{end}}
        </div>
    </div>
    <div class="bg-image">
        <img src="/ASSETS/ynov_final.png" alt="a background blurred picture">
    </div>
    <div class="bg-text">
        <div class="left">
            <h1>Bienvenue chez {{.CurrentMarchant.Name}}</h1>
            <p>
                Ici vous pourrez acheter des items pour améliorer votre école.
            </p>
        </div>
        <div class="right">
            <img src="{{.CurrentMarchant.Image}}" alt="Item">
            <form action="" method="post">
                <input type="submit" name="leave" value="leave">Quitter le marchand !</input>
            </form>
        </div>

    </div>
    <div class="inventory marchand">
        <h1 style="text-align: right">Inventaire du marchand</h1>
        <div class="item-list">
            {{range $y := .CurrentMarchant.Items}}
            <div class="inventory-item">
                <div class="left">
                    <img src="{{$y.Image}}" alt="Item">
                    <div class="item-info">
                        <h3>{{$y.Name}}</h3>
                        <h4>{{$y.BuyPrice}}€</h4>
                        <p>{{$y.Description}}</p>
                    </div>
                </div>
                <button onclick="buyItem(this, {{$y.Id}})">Acheter</button>
            </div>
            {{end}}
        </div>
    </div>
    <script src="/JS/api.js"></script>
</body>
</html>