body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .header-left {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(255,255,255, 0.7);
    position: absolute;
    border-radius: 0 0 20px 0;
  }
  
  .header-left h1, .header-left h2, .header-right h1, .header-right h2 {
    margin: 0;
    padding: 0;
  }
  
  .header-left h1, .header-right h1 {
    font-size: 30px;
    color: #000;
  }
  
  .header-left h2, .header-right h2 {
    font-size: 20px;
    color: #000;
  }
  
  .header-right {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(255,255,255, 0.7);
    border-radius: 0 0 0 20px;
  }

html {
    font-family: Montserrat,Helvetica,Arial,sans-serif;
}
  
  * {
    box-sizing: border-box;
    font-family: 'Minecraftia', sans-serif;
    overflow: hidden;
  }
  
  img {
    background-color: #000;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }

  .bg-image{
    float: left;
    position : relative;
    width: 100%;
    height: 100%;
  }
  
  .bg-text {
    border-radius: 20px;
    background-color: rgba(255,255,255, 0.6);
    color: black;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: auto;
    padding: 0px 20px;
    padding-bottom: 20px;
    text-align: center;
  }

  button, .end-button {
    background-color: rgba(35, 178, 164, 0.5);
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 20px;
    cursor: pointer;
  }

a {
    text-decoration: none;
    color: #FFF;
}

i {
    color: whitesmoke;
    font-weight: lighter;
    font-size: smaller;
}

b {
    color: #FFF;
    font-size: larger;
}

/* Pour mobile */
@media screen and (max-width: 600px) {
  * {
    overflow: auto;
  }
  .bg-text {
    width: 90%;
    text-align: center;
    font-size: 11px;
  }
}