/* Pour ordinateur */
html {
    font-family: Montserrat,Helvetica,Arial,sans-serif;
    background-color: #eeeeee;
}
  
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }

* {
    box-sizing: border-box;
}

.bg-image {
    background-image: url("../ASSETS/background.svg");
    background-color: #eeeeee;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    background-size: 2500px 375px;
}

.blue {
    color: #23b2a4;
}
  
.bg-text {
    border-radius: 20px;
    background-color: #fff;
    color: black;
    font-weight: bold;
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 2;
    text-align: center;
    transform: translate(-50%, -20%);
    display: flex;
    justify-content: center;
}

.bg-text .left-part {
    width: 300px;
    background-color: #23b2a4;
    color: #fff;
    padding: 20px;
    border-radius: 20px 0 0 20px;
}

.bg-text .right-part {
    width: 600px;
    background-color: #fff;
    color: #666;
    padding: 20px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-text .right-part h1 {
    color: #23b2a4;
    font-size: 32px;
    width: 100%;
}

.bg-text .right-part form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    font-size: 16px;
    font-weight: lighter;
}

.bg-text .right-part form label, .bg-text .right-part form p {
    margin-bottom: 5px;
}

.radio-ctn {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}

.radio-ctn label {
    width: 75px;
    height: 75px;
    margin-right: 10px;
}

.radio-ctn img {
    width: 75px;
    height: 75px;
    border-radius: 10%;
    border: 1px solid #cccccc;
}

.radio-ctn img:hover {
    cursor: pointer;
    outline: none;
    border: 1px solid #ffffff !important;
    box-shadow: 0 0 3pt 2pt #23b2a4 !important;
}

.radio-ctn label:hover {
    cursor: pointer;
}

/* Apply border to the image when the radio input is checked */
.radio-ctn input:checked + label img {
    outline: none;
    border: 1px solid #23b2a4 !important;
    box-shadow: 0 0 3pt 2pt #23b2a4 !important;
}

.radio-ctn input {
    display: none;
}

.bg-text .right-part form input {
    font-size: 1.2em;
    padding: 10px;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.bg-text .right-part form input:focus {
    outline: none;
    border: 1px solid #ffffff !important;
    box-shadow: 0 0 3pt 2pt #23b2a4 !important;
}
/*input type submit*/
.bg-text .right-part form input[type=submit] {
    font-size: 1.2em;
    border: 1px solid #23b2a4;
    border-radius: 5px;
    color: #ffffff;
    background-color: #23b2a4;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}

.bg-text .right-part form input[type=submit]:hover {
    background-color: #ffffff;
    color: #23b2a4;
    transition: all 0.2s;
    opacity: 1;
}

.logo-ctn {
    width: 100%;
    display: flex;
}

.logo {
    width: 150px;
    height: 75px;
}

a {
    text-decoration: none;
    color: #FFF;
}

i {
    color: whitesmoke;
    font-weight: lighter;
    font-size: smaller;
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

.left-part p {
    font-size: 15px;
    font-weight: lighter;
}



.question-ctn {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.question .radio-ctn {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin: 10px;
}

.question .radio-ctn label {
    width: 75px;
    height: 75px;
    margin-right: 10px;
}

.question .radio-ctn input:checked + label {
    color: #23b2a4;
}





/* Pour mobile */
@media screen and (max-width: 600px) {
    .bg-text {
      width: 90%;
      text-align: center;
      font-size: smaller;
    }
}
